exportPattern("^[[:alpha:]]+")

S3method(plot,MangroveBetas)
S3method(plot,MangroveContPreds)
S3method(plot,MangroveORs)
S3method(plot,MangrovePed)
S3method(plot,MangroveRiskPreds)
S3method(plot,MangroveSample)
S3method(plot,MangroveTree)

S3method(print,MangroveBetas)
S3method(print,MangroveContPreds)
S3method(print,MangroveORs)
S3method(print,MangrovePed)
S3method(print,MangroveRiskPreds)
S3method(print,MangroveSample)
S3method(print,MangroveTree)

S3method(summary,MangroveBetas)
S3method(summary,MangroveContPreds)
S3method(summary,MangroveORs)
S3method(summary,MangrovePed)
S3method(summary,MangroveRiskPreds)
S3method(summary,MangroveSample)
S3method(summary,MangroveTree)


importFrom("graphics", "abline", "axis", "barplot", "hist", "legend")
importFrom("stats", "dbinom", "qnorm", "quantile", "rmultinom",
             "runif", "var")
importFrom("utils", "count.fields", "read.table")
